@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a{
  text-decoration: none;
}

body{
  display: flex;
  flex-direction: column ;
  align-items: center;
  width: 100%;
}

header{
  padding-top: 30px;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.nav-header__logo{
  width: 73.2px;
  height: 105px;
  align-self: baseline;
}

.nav-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 142px;

}

.nav-header__menu{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 886.62px;
}

.nav-header__ol{
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: Fixed (555px)px;
  height: Hug (27px)px;
  gap: 65px;
  padding-right: 27px;
  

}

.nav-header__btn{
  font-family: Open Sans;
  font-size: 18px;
  text-align: center;
  color: black;
}

.nav-header__manage{
  display: flex;
  justify-content: space-between;
  width: Hug (180px)px;
  height: Hug (29px)px;

}

.nav-header__account{
  display: flex;
  justify-content: space-between;
  width: Hug (58px)px;
  height: Fixed (29px)px;
  gap: 20px;

  
}

.nav-header__account-btn{
  width: 20px;
  height: 22px;

  


}

.search-container{
  display: flex;
  flex-direction: row;
  width: 122px;
  justify-content: flex-end;
  gap: 1px;
}

.search-input{
  width: 50px;
  height: 18px;
  border: 2px solid black;
  border-radius: 8px;
  justify-self: center;
}

.nav-header__search{
  width: 22px;
  height: 22px;
  cursor: pointer;
}





.header-banner{
  width: 100%;
  background-image: 
    linear-gradient(180deg, rgba(0, 0, 0, 0) 40.1%, #000000 97.4%),
    url(../images/banner.png);
  height: 500px;
  background-size: cover;
  background-position: left;
  color: white;
  font-family: cormorant;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;

}



h1{
  width: 789.51px;
  height: 120px;
  font-family: Cormorant;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 199.88px;
}

.header-banner__p{
  width: 557.65px;
  height: 58px;
  top: 594px;
  left: 199.88px;

  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 199.88px;
  padding-bottom: 48px;
}


main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 150px;
  padding-bottom: 150px;
  padding-top: 120px;
}


/* h2{
  width: 704px;
  height: 96px;
  font-family: Cormorant;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  line-height: 48.44px;
  text-align: center;
} */


h2 {
  position: relative;
  width: 704px;
  height: 96px;
  font-family: Cormorant;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  line-height: 48.44px;
  text-align: center;




}

h2::after {
  content: ''; 
  position: absolute;
  bottom: -15px;
  right: -40px;
  width: 359px;
  height: 61px;
  background-color: rgba(247, 242, 234, 1);
  z-index: -1;
  opacity: 0.5px;
}


/* Продукты */

.products{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  width: 1200px;
  height: 355px;

}

.products__h3{
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.44px;
  text-align: center;

  width: 369px;
  height: 48px;

}

.products__cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.products__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 208px;
  height: 247px;
  gap: 10px;
}


.products__image{
  width: 208px;
  height: 208px;

}

.products__name{
  height: 29px;
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  text-align: left;
}

/* Отзывы */

.reviews{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 397px;
  top: 1601px;
  background-color: rgba(247, 242, 234, 1);
  align-items:center;
}

.reviews__h3{
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.44px;
  text-align: center;
}

.reviews__cards{
  display: flex;
  flex-direction: row;
  width: 1198px;
  height: 42.5%;
  top: 1769px;
  left: 200px;
  gap: 26px;
}

.reviews__card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  height: 169px;
  gap: 10px;
}

.reviews__review{
  width: 280px;
  font-family: Open Sans;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 21.79px;
  text-align: left;
}

.reviews__reviewer{
  width: 280px;
  height: 27px;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: left;
}

/* Блоги */

.blogs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1142px;
  height: 619px;
}

.blogs__h3{
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.44px;
  text-align: center;
}

.blog__cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.blog__card{
  display: flex;
  flex-direction: row;
  width: 542px;
  height: 180px;
  gap: 20px;
}

.blog__image{
  width: 270px;
  height: 180px;
}

.blog__caption{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog__name{
  display:flex;
  flex-direction: column;
  gap: 10px;
}

.blog__h4{
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  text-align: left;
  width: 252px;
  height: 86px;
}

.blog__author{
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
  height: 18px;
}

.blog__link{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: Hug (43px)px;
  height: Hug (18px)px;
  gap: 8px;
}

.blog__link-p{
  width: 30px;
  height: 18px;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
  color: rgba(21, 22, 24, 1);
}

.blog__link-img{
  width: 5px;
  height: 10px;
  color: rgba(21, 22, 24, 1);
}

.blog__btn{
  border: 1px solid rgba(21, 22, 24, 1);
  color: #000000;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 27.24px;
  text-align: left;
  width: 67px;
  height: 27px;
  width: Hug (149px)px;
  height: Hug (51px)px;
  padding: 12px 41px 12px 41px;
  gap: 10px;
  border: 1px 0px 0px 0px;
}


/* Вопрос */

.question{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 418px;
  background: rgba(247, 242, 234, 1);

  background-image: url(../images/background_tea.png);
  background-repeat: no-repeat;
  background-position: right;
}




.question__conteiner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1200px;
  height: 218px;

}

.question__h3{
  width: 326px;
  height: 48px;
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.44px;
  text-align: left;
  color: rgba(21, 22, 24, 1);
    
}

.question__content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 40px;
  
}

.question_p{
  height: 120px;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: rgba(21, 22, 24, 1);

}

.question__blank{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 580px;
  height: 117px;
  
}

.question__form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

}

.question__input{
  width: 439px;
  border:none;
  border-bottom: 1px solid rgba(184, 181, 139, 1);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  background-color: transparent;
}

.question__input::placeholder{
  color: rgba(184, 181, 139, 1);
  padding-left: 15px;
}

.question__btn{
  width: Hug (116px)px;
  height: Hug (51px)px;
  padding: 12px 41px 12px 41px;
  gap: 10px;
  border: 1px 0px 0px 0px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(21, 22, 24, 1);



  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 27.24px;
  text-align: left;

}


.question__checkbox{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

.question__checkbox-input{
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(21, 22, 24, 1);

}

.question__checkbox-label{
  width: 560px;
  height: 54px;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
  color: rgba(21, 22, 24, 1);
}


/* Приоритеты */

.priorities{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 1200px;
  height: 286px;
  
}

.priorities__h3{
  width: 207px;
  height: 47.96px;
  top: 3485px;
  left: 697px;
  gap: 0px;
  opacity: 0px;

  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.44px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

.priorities__cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 178px;

}

.priorities__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: auto;
  height: 178px;

}

.priorities__text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 78px;
}

.priorities__p{
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 300;
  line-height: 40.85px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

.priorities__b{
  
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

.priorities__image{
  width: 60px;
  height: 60px;
  justify-self: flex-end;
}

/* footer */

footer{
  width: 100%;
  height: 593px;
  background: rgba(247, 242, 234, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.nav-footer{
  padding-top: 100px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-footer__lists{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 465px;
}

.nav-footer__products{
  display: flex;
  flex-direction: column;

  width: Hug (97px)px;
  height: Hug (269px)px;
  top: 100px;
  left: 200px;
  gap: 50px;
  opacity: 0px;


}

.nav-footer__h4{
  width: 131px;
  height: 29px;
  top: 100px;
  left: 1130px;
  gap: 0px;
  opacity: 0px;
  
  
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
  
}


.nav-footer__ol{
  display: flex;
  flex-direction: column;

  list-style: none;

  width: Fixed (155px)px;
  height: Hug (274px)px;
  gap: 20px;
  opacity: 0px;

}

.nav-footer__a{
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 21.79px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(21, 22, 24, 1);

}

.nav-footer__company{
  display: flex;
  flex-direction: column;

  width: Hug (155px)px;
  height: Hug (353px)px;
  top: 100px;
  left: 510px;
  gap: 50px;
  opacity: 0px;

}

.nav-footer__connection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 580px;
}

.nav-footer__citation{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 269px;
  height: 162px;
  top: 179px;
  left: 820px;
  gap: 0px;
  opacity: 0px;
  padding-top: 79px;
}

.nav-footer__quote{
  width: 269px;
  height: 110px;
  top: 179px;
  left: 820px;
  gap: 0px;
  opacity: 0px;

  font-family: Open Sans;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 21.79px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

.nav-footer__quoter{
  width: 129px;
  height: 32px;
  top: 309px;
  left: 820px;
  gap: 0px;
  opacity: 0px;
  
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 300;
  line-height: 16.34px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

.nav-footer__contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 270px;
  height: 287px;
  top: 100px;
  left: 1130px;
  gap: 0px;
  opacity: 0px;

}

.nav-footer__p{
  width: 270px;
  height: 36px;
  top: 179px;
  left: 1130px;
  gap: 0px;
  opacity: 0px;

  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

.nav-footer__message{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 147px;
  width: 270px;
}

.nav-footer__message-addresses{
  display: flex;
  flex-direction: row;
  width: 233px;
  gap: 40px;
}

.nav-footer__logo{
  width: 57px;
  height: 91px;
  top: 235px;
  left: 1130px;
  gap: 0px;
  opacity: 0px;
  
}

.nav-footer__address{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 136px;
  height: 60px;
  margin-top: 20px;
}

.nav-footer__email{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 136px;
  color: rgba(21, 22, 24, 1);
}

.nav-footer__email-image{
  width: 22px;
  height: 16px;
  gap: 0px;
  opacity: 0px;
  
}

.nav-footer__phone{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 136px;
  color: rgba(21, 22, 24, 1);

}

.nav-footer__phone-image{
  width: 20.81px;
  height: 20.81px;
  gap: 0px;
  opacity: 0px;
  
}

.nav-footer__social{
  display: flex ;
  flex-direction: row;
padding-left: 97px;
  align-items: center;
  width: 150px;
  height: 22px;
  gap: 20px;

  
}

.nav-footer__social-a{

}

.nav-footer__other{
  width: 1200px;
  display: flex;
  flex-direction: row;
  gap: 208px;
  height: 22px;
  align-items: baseline

}

.nav-footer__sign{
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 21.79px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

.nav-footer__payment{
  width: Hug (156px)px;
  height: Hug (20px)px;
  top: 553px;
  left: 510px;
  gap: 20px;
  opacity: 0px;
  
}



