@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a{
  text-decoration: none;
}

body{
  display: flex;
  flex-direction: column ;
  align-items: center;
  width: 100%;
}

header{
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.nav-header__logo{
  display: flex;
  align-self: baseline;
  flex-direction: column;
  align-items: center;
}

.nav-header__logo-p{
  font-family: IM FELL Great Primer SC;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  width: 73.2px;
}

.nav-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.nav-header__burger{
  display:none
}

.modal-menu{
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: 50px; 
    width: 360px;
    top: 0px;
    left: 25%;
    z-index: 1000;
}

.modal-close {
  font-size: 30px;
  cursor: pointer;
  align-self:flex-end;
  width: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.modal-products{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  width: 71px;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.modal-products__li{
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.modal-hr{
  width: 300px;
  background: rgba(247, 242, 234, 1);
  border:none;
  padding-top: 1px;
  padding-bottom: 1px;
}

.modal-nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  gap: 35px;
  padding-top: 58px;
  padding-bottom: 60px;
}

.modal-nav__li{
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(0, 0, 0, 1);
}

.modal-manage{
  display: flex;
  flex-direction: row;
  width: 360px;
  background: rgba(247, 242, 234, 1);
  align-items: center;
  justify-content: center;
  gap: 71px;
  padding-top: 20px;
  padding-bottom: 14px;
}

.modal-manage__btn{
  width: 18px;
}

.nav-header__menu{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 886.62px;
  padding-right: 5px;
  padding-top: 57px;
  padding-bottom: 58px;
}

.nav-header__ol{
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 595px;
  gap: 71px;
}

.nav-header__btn{
  font-family: Open Sans;
  font-size: 18px;
  text-align: center;
  color: black;
}

.nav-header__manage{
  display: flex;
  justify-content: space-between;
  max-width: 180px;
  width: 20.3%;
}

.nav-header__account{
  display: flex;
  justify-content: space-between;
  width: 58px;
  gap: 20px;
}

.nav-header__account-btn{
  width: 20px;
}

.nav-header__search{
  width: 22px;
}

.header-banner{
  width: 100%;
  background-image: 
    linear-gradient(180deg, rgba(0, 0, 0, 0) 40.1%, #000000 97.4%),
    url(../images/banner.png);
  background-size: cover;
  background-position: left;
  color: white;
  font-family: cormorant;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.header-banner__title{
  display: flex;
  flex-direction: column;
  min-width: 684px;
  width: 75%;
  gap: 20px;
  padding-top: 254px;
  padding-bottom: 48px;
}

h1{
  max-width: 789.51px;
  font-family: Cormorant;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
}

.header-banner__p{
  max-width: 557.65px;
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  text-align: left;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 150px;
  padding-bottom: 150px;
  padding-top: 150px;
}

h2 {
  position: relative;
  max-width: 704px;
  font-family: Cormorant;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  line-height: 48.44px;
  text-align: center;
}

h2::after {
  content: ''; 
  position: absolute;
  bottom: -15px;
  left: 386px;
  width: 22.4vw;
  min-width: 273px;
  padding-bottom: 61px;
  background-color: rgba(247, 242, 234, 1);
  z-index: -1;
  opacity: 0.5px;
}

/* Продукты */

.products{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  max-width: 1200px;
  gap: 60px;
}

.products__h3{
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.44px;
  text-align: center;
  padding-left: 11px;
}

.products__cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 40px;
  justify-content: center;
}

.products__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.products__name{
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  text-align: left;
}

/* Отзывы */

.reviews {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(247, 242, 234, 1);
  align-items: center;
  gap: 60px;
  padding-top: 59px;
  padding-bottom: 60px;
}

.reviews__h3{
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.44px;
  padding-left: 11px;
  text-align: center;
}

.reviews__cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 26px;
}

.reviews__card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.reviews__review{
  font-family: Open Sans;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 22.3px;
  text-align: left;
  max-width: 280px;
}

.reviews__reviewer{
  width: 280px;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: left;
}

@media (max-width: 1199px){
  .reviews__card-fourth
  {display: none;}
}

@media (max-width: 888px){
  .reviews__card-fourth
  {display: flex;}
}

/* Блоги */

.blogs{
  display: flex;
  flex-direction: column;
  max-width: 1142px;
  width: 100%;
  margin-right: 3.6vw;
}

.blogs__h3{
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.44px;
  text-align: center;
}

.blog__cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 3.6vw;
  row-gap: 40px;
  padding-top: 60px;
  padding-bottom: 59px;
}

@media (min-width: 1600px){
  .blog__cards{
    column-gap: 55px;
  }
}

.blog__card{
  display: flex;
  flex-direction: row;
  max-width: 542px;
  width: 100%;
  gap: 20px;
}

.blog__even{
  align-self: flex-end;
}

.blog__odd{
  align-self: flex-start;
}

@media (max-width: 1188px) {

  .blog__cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }


  .blogs{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 0;
  }
}

.blog__caption{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog__name{
  display:flex;
  flex-direction: column;
  gap: 48px;
}

.blog__h4{
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  text-align: left;
  max-width: 253px;
}

.blog__author{
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;

}

.blog__link{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.blog__link-p{
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
  color: rgba(21, 22, 24, 1);
}

.blog__link-img{
  color: rgba(21, 22, 24, 1);
}

.blog__btn{
  border: 1px solid rgba(21, 22, 24, 1);
  color: #000000;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 27.24px;
  text-align: center;
  background-color:white;
  align-self:center;
  margin-right: 20px;
  padding: 12px 41px 10px  41px;
}

/* Вопрос */

.question{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(247, 242, 234, 1);
  background-image: url(../images/background_tea.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 6.25%;
  padding-bottom: 6.25%;
}

.question__conteiner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
}

.question__h3{
  width: 326px;
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.44px;
  text-align: left;
  color: rgba(21, 22, 24, 1);
  padding-bottom: 50px;
}

.question__content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 40px;
  
}

@media (max-width: 1000px){
  .question__content{
    flex-direction: column;
    align-items:center;
    gap: 60px;
  }

  .question__conteiner{
    align-items:center;
  }

  .question_p{
    text-align: center;
    width: 70%;
  }
}

.question_p{
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: rgba(21, 22, 24, 1);
}

.question__blank{
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.question__form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.question__input{
  width: 425px;
  border:none;
  border-bottom: 1px solid rgba(184, 181, 139, 1);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  background-color: transparent;
  padding-left: 14px;
  padding-bottom: 3px;
}

.question__input::placeholder{
  color: rgba(184, 181, 139, 1);
  padding-left: 15px;
}

.question__btn{
  padding: 12px 41px 10px 41px;
  gap: 10px;
  border: 1px 0px 0px 0px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(21, 22, 24, 1);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 27.24px;
  text-align: left;
}

.question__checkbox{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

.question__checkbox-input{
  width: 10px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(21, 22, 24, 1);
}

.question__checkbox-label{
  width: 560px;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
  color: rgba(21, 22, 24, 1);
}

/* Приоритеты */

.priorities{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  max-width: 1200px;
}

.priorities__h3{
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.44px;
}

.priorities__cards{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1199px;
  gap: 49px;
  flex-wrap: wrap;
  justify-content: center;
}

.priorities__card-earth{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.priorities__card-leaf{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.priorities__card-hp{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.priorities__card-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.priorities__text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.priorities__p{
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 300;
  line-height: 40.85px;
  text-align: center;
}

.priorities__b{
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27.24px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 36px;
}

.priorities__image{
  justify-self: flex-end;
  padding-left: 16px;
}

/* footer */

footer{
  width: 100%;
  background: rgba(247, 242, 234, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav-footer{
  padding-top: 99.5px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-footer__lists{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 465px;
  width: 100%;
}

.nav-footer__products{
  display: flex;
  flex-direction: column;
  width: 97px;
  gap: 50px;
}

.nav-footer__h4{
  width: 131px;
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  text-align: left;
}

.nav-footer__ol{
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 155px;
  gap: 20px;
}

.nav-footer__a{
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(21, 22, 24, 1);
}

.nav-footer__company{
  display: flex;
  flex-direction: column;
  width: 155px;
  gap: 50px;
}

.nav-footer__connection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 580px;
  width: 100%;
}

.nav-footer__citation{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 79px;
}

.nav-footer__quote{
  width: 269px;
  font-family: Open Sans;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 22.1px;
  text-align: left;
}

.nav-footer__quoter{
  width: 129px;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 300;
  line-height: 16.34px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.nav-footer__contact{
  display: flex;
  flex-direction: column;
  width: 270px;
}

.nav-footer__p{
  width: 270px;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
}

.nav-footer__message{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  padding-top: 50px;
  padding-bottom: 40px;
  gap: 24px;
}

.nav-footer__message-addresses{
  display: flex;
  flex-direction: row;
  width: 233px;
  gap: 40px;
}

.nav-footer__logo{
  width: 57px;
  display: flex;
  align-self: baseline;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.nav-footer__logo-img{
  width: 55px;
}

.nav-footer__logo-p{
  font-family: IM FELL Great Primer SC;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.12px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 57px;
}

.nav-footer__address{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 138px;
  gap: 21px;
  padding-top: 16px;
}

.nav-footer__email{
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
  width: 136px;
  color: rgba(21, 22, 24, 1);
  letter-spacing: 0.3px;
}

.nav-footer__email-image{
  width: 20.81px;
}

.nav-footer__phone{
  display: flex;
  align-items: center;
  gap: 10px ;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: left;
  width: 136px;
  color: rgba(21, 22, 24, 1);
  letter-spacing: 0.2px;
}

.nav-footer__phone-image{
  width: 22px;
}

.nav-footer__social{
  display: flex ;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 247px;
}

.other-footer{
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 194px;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 12px;
}

.other-footer__sign{
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 21.79px;
  text-align: left;

}

.other-footer__payment{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.other-footer__mastercard{
  width: 26px;
}

.other-footer__visa{
  width: 31px;
}

.other-footer__google_pay{
  width: 29px;
}

.other-footer__paypal{
  width: 10px;
}

@media (max-width: 768px) {

  header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.1vw;
    padding-top: 3.9vw;
  }

  .nav-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    max-width: 640px;
  }

  .nav-header__logo{
    width: auto;
    display: flex;
    align-self: baseline;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 89px;
    align-content: center

  }

  .nav-header__logo-img{
    max-width: 100%;
    width: 9vw;  
  }

  .nav-header__logo-p{
    font-size: 2.35vw;
    text-align: center;
    padding-right: 2.5px;
  }
  
  .nav-header__burger{
    display: block;
    width: 40px;
    cursor: pointer;
    padding-bottom: 1px;
  }

  .nav-header__menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 130px;
    padding-right: 0px;
    padding-top: 2px;
    padding-bottom: 0px;
  }
  
  .nav-header__ol{
    display: none;
  }
  
  .nav-header__manage{
    display: flex;
    justify-content: space-between;
    width: 130px;
  }
  
  .search-container{
    display: flex;
    flex-direction: row;
  }
  
  .header-banner{
    width: 100%;
    background-image: 
      linear-gradient(180deg, rgba(0, 0, 0, 0) 40.1%, #000000 97.4%),
      url(../images/banner.png);
    background-size: cover;
    background-position: left;
    color: white;
    font-family: cormorant;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .header-banner__title{
    display: flex;
    flex-direction: column;
    max-width: 727px;
    min-width: auto;
    width: 95%;
    gap: 20px;
    padding-bottom: 48px;
    padding-left: 0;
    padding-right: 0;
  }
  
  h1{
    font-family: Cormorant;
    font-size: 7.8vw;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    width: 100%;
    max-width: 684px;
  }
  
  .header-banner__p{
    font-family: Cormorant;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.06px;
    text-align: left;
    max-width: 558px;
    width: 100%;
  }

  main{
    padding-bottom: 115px; 
    gap: 120px;
    padding-top: 120px;
  }

  h2 {
    position: relative;
    font-family: Cormorant;
    font-style: italic;
    text-align: center;
    max-width: 640px;
    width: 83.3%;
    font-size: 5.2vw;
    font-weight: 300;
    line-height: normal;

  }
  
  h2::after {
    content: ''; 
    position: absolute;
    left: 57.2%;
    min-width: auto;
    max-width: 273px;
    width: 36vw;
    background-color: rgba(247, 242, 234, 1);
    z-index: -1;
    opacity: 0.5;
    padding-bottom: 9.6%;
  }

  .products{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 15px;
  }
  
  .products__h3{
    padding-left: 12.5vw;
  }

  .products__cards{
    column-gap: 6px;
  }

  .products__card-fourth{
    padding-left: 25px;
  }

  .reviews{
    row-gap: 57px;
    padding-top: 61px;
    padding-bottom: 83px;
  }

  .reviews__cards{
    row-gap: 31px;
    column-gap: 76px;
  }

  .blogs{
    max-width: 640px; 
  }
  
  .blog__cards{
    gap: 29.7px;
  }

  .blog__btn{
    margin-right: 0px;
  }

  .question{
    width: 100%;
    padding-top: 61px;
    padding-bottom: 61px;
  }

  .question__conteiner{
    gap: 11px;
  }

  .question_p{
    width: 640px;
  }

  .question__blank{
    padding-left: 5px;
    gap: 11px;
  }

  .question__input{
    padding-left: 20px;
  }

  .priorities__h3{
    padding-left: 10px;
  }
  
  .priorities__cards{
    column-gap: 91px;
    row-gap: 30px;
  }

  .priorities__card-earth{
    margin-right: 8px;
    gap: 4px;
  }
  
  .priorities__card-leaf{
    margin-left: 35px;
    gap: 4px;
  }

  .nav-footer{
    padding-top: 50px;
    max-width: 647px;
    width: 100%;
    gap: 67px;
    padding-left: 8px;
  }

  .nav-footer__connection{
    flex-direction: column;
    max-width: 276px;
    width: 100%;
    gap: 50px;
  }

  .nav-footer__citation{
    padding-top: 0px;
  }

  .nav-footer__message{
    padding-bottom: 20px;
  }

  .nav-footer__address{
    gap: 10px;
  }

  .other-footer{
    max-width: 768px;
    width: 100%;
    gap: 31px;
    padding-top: 66px;
    margin-left: 131px;
    padding-bottom: 8px;
  }
}

@media (max-width: 480px) {

  header{
    gap: 8.5px;
    padding-top: 10px;
  }

  .nav-header__logo{
    margin-left: 91px;
  }
  
  .nav-header__logo-img{
    width: 36.44px;
  }
  
  .nav-header__logo-p{
    font-size: 10px;
    line-height: 12.23px;
    width: 39px;
  }
  
  .nav-header{
    max-width: 460px;
    width: 100%;
  }

  .modal-menu {
    left: 12.5%;
}
  
  .nav-header__burger{
    padding-bottom: 3px;
  }
  
  .nav-header__menu{
    padding-bottom: 4px;
  }

  .nav-header__search {
      padding-top: 2px;
  }
  
  .header-banner__title{
    padding-top: 276px;
    padding-bottom: 50px;
    padding-right: 4px;
  }
  
  h1{
    font-size: 8.34vw;
    line-height: 10vw;
  }

  main{
    gap: 60px;
    padding-bottom: 53px;
    padding-top: 60px;
  }

  h2 {
    font-family: Open Sans;
    font-size: 3.35vw;
    right: 2px;
  }
  
  h2::after {
    padding-bottom: 5.4%;
    width: 24.4vw;
    left: 47.2%;
    bottom: 0;
  }

  .products{
    gap: 30px;
    margin-top: 0px;
  }
  
  .products__h3{
    padding-left: 0px;
  }

  .products__cards{
    column-gap: 0px;
  }

  .products__card-fourth{
    padding-left: 0px;
  }

  .reviews{
    row-gap: 51px;
    padding-top: 50px;
    padding-bottom: 52px;
  }

  .reviews__h3{
    padding-left: 0px;
  }

  .reviews__cards{
    row-gap: 31px;
    column-gap: 22px;
    max-width: 460px;
    width: 96%;
  }
  
  .reviews__card{
    gap: 9px;
    max-width: 219px
  }

  .reviews__card-first{
    order: 1;
  }

  .reviews__card-second{
    order: 4;
  }

  .reviews__card-third{
    order: 3;
  }

  .reviews__card-fourth{
    order: 2;
  }
  
  .reviews__review{
    line-height: 21.79px;
  }

  .blog__cards{
    align-content: center;
    gap: 30px;
    padding-top: 59px;
  }

  .blog__card{
    max-width: 460px;
    width: 100%;
  }

  .blog__image{
    width: 230px;
  }

  .blog__caption{
    gap: 6.5px;
  }
  
  .blog__name {
    gap: 23px;
  }
  
  .blog__author-third{
    padding-bottom: 29px;
  }

  .question{
    background-image:none;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .question__conteiner{
    gap: 30px;
  }

  .question__h3{
    padding-bottom: 0px;
  }

  .question_p{
    font-size: 13px;
    line-height: 17.7px;
    max-width: 460px;
  }

  .question__content{
    gap: 30px;
  }

  .question__blank{
    max-width: 460px;
    padding-left: 0px;
    gap: 13px;
  }

  .question__input{
    max-width: 305px;
  }

  .question__input {
    padding-left: 16px;
    padding-bottom: 3px;
  }

  .priorities{
    gap: 30px;
  }
  
  .priorities__cards{
    row-gap: 50px;
  }
  
  .priorities__card-leaf{
    margin-left: -7px;
  }
  
  .priorities__card-hp{
    margin-left: -7px;
  }
  
  .priorities__card-box{
    margin-left: -7px;
  }

  .nav-footer{
    padding-top: 50px;
    max-width: 480px;
    width: 100%;
    flex-direction: column;
    justify-content: stretch;
    gap: 50px;
    padding-left: 20px;
  }
  
  .nav-footer__lists{
    justify-content: flex-start;
    max-width: 385px;
    width: 100%;
    gap: 133px;
  }
  
  .nav-footer__products{
    max-width: 97px;
    width: 100%;
    gap: 30px;
  }

  .nav-footer__company{
    max-width: 155px;
    width: 100%;
    gap: 30px;
  }

  .nav-footer__connection{
    max-width: 460px;
    width: 100%;
  }

  .nav-footer__citation{
    max-width: 460px;
    width: 100%;
    gap: 9.5px;
  }

  .nav-footer__quote{
    max-width: 460px;
    width: 100%;
  }

  .nav-footer__quoter{
    max-width: 298px;
    width: 100%;
  }
  
  .nav-footer__contact{
    max-width: 460px;
    width: 100%;
    gap: 10px;
    align-items: center;
  }

  .nav-footer__p{
    max-width: 460px;
    width: 100%;
    text-align: center;
  }

  .nav-footer__address{
    max-width: 136px;
    width: 100%;
    margin-top: 0px;
  }

  .nav-footer__message-addresses{
    display: flex;
    flex-direction: row;
    width: 233px;
    gap: 26px;
    padding-left: 22px;
  }

  .nav-footer__message{
    max-width: 460px;
    width: 100%;
    gap: 20px;
    padding-top: 11px;
  }

  .nav-footer__logo-img {
    width: 58px;
  }

  .nav-footer__social{
    max-width: 247px;
    width: 100%;
    position: relative;
    bottom: 85px;
    left: 66px;
  }

  .nav-footer__message {
    padding-bottom: 15px;
  }

  .other-footer{
    max-width: 460px;
    width: 100%;
    gap: 154px;
    padding-top: 0px;
    margin-left: 0px;
    padding-bottom: 8px;
  }
}